.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 20px solid;
}

.infoBox--red {
  border-color: rgb(255, 0, 0);
}

.infoBox--blue {
  border-color: rgb(0, 0, 255);
}

.infoBox--yellow {
  border-color: rgb(255, 187, 0);
}

.infoBox__cases__blue {
  color: rgb(0, 0, 255);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__cases__red {
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__cases__yellow {
  color:rgb(255, 165, 0);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}


.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  font-style: bold;
  margin-top: 15px !important;
}
